<div style="height: 30px;">
	{{legend-chart counts=counts}}
</div>
<div style="height: 150px;">
{{context-chart wfData=wfData logs=userLogs}}
</div>
<div>
	{{activity-chart logs=userLogs width=500 height=200}}
</div>

	<div style="padding-right: 15px;">
		<table class="table table-hover" style="margin-bottom: 0px; overflow-y: scroll">
		  <thead>
		    <tr class="mysize-100" >
			    <th class="mysize-10" ></th>
		      <th class="mysize-5" style="cursor:pointer">Type</th>
		      <th class="mysize-15" style="cursor:pointer">Workflow</th>
		      <th class="mysize-15" style="cursor:pointer">Activity</th>
		      <th class="mysize-40" style="cursor:pointer">Description</th>
		      <th class="mysize-15" style="cursor:pointer">Timestamp</th>       
		    </tr>
		  </thead>	  
		</table>
	</div>
	<div class="table-wrapper">
		<table class="table table-hover">			
		  <tbody>
		    {{#each}}                 
		    <tr {{bind-attr class="isSys:success"}}>
		    	<td class="mysize-10">
		    		<div {{bind-attr class=":my-indicator feedback"}}></div>
		    		<a href="" {{action 'createLog' this}}><span class="glyphicon glyphicon-chevron-down add-new"></span></a>
		    		{{#if feedback}}
		    		<a href="" {{action "editLog"}}><span class="glyphicon glyphicon-edit"></span></a>
						<a href="" {{action 'removeLog' this}}><span class="glyphicon glyphicon-remove"></span></a>
						{{/if}}
		    	</td>            
		      <td class="mysize-5">{{format-action activityType}}</td>
		      <td class="mysize-15">
		      	<div class="wf-code" {{bind-attr style="wfColor"}}"></div>
		      	{{#if isEditing}}
			    	{{view Ember.Select
			       content=wfStates2
			       optionValuePath="content.id"
			       optionLabelPath="content.name"
			       class="form-control dave"
			       value=wfState 
			       action="updateLog"}}
					  {{!-- {{view Ember.Select content=wfStates class="form-control dave" value=wfS action="updateLog"}} --}}
						{{else}}
						  {{wfStateFormat}}
						{{/if}}
					</td>
		      <td class="mysize-15">
		      	{{#if isEditing}}
						  {{input type="text" placeholder='add activity' value=activity class="form-control dave" action="updateLog"}}
						{{else}}
						  {{activity}}
						{{/if}}
					</td>
		      <td class="mysize-40">
		      	{{#if isEditing}}
						  {{input type="text" placeholder='add activity description' value=activityDesc class="form-control dave" action="updateLog"}}
						{{else}}
						  {{activityDesc}}
						{{/if}}
		      </td>
		      <td class="mysize-15">
		      	{{#if isEditing}}
				  		{{input type="text" value=newTimestamp class="form-control dave" action="updateLog"}}
						{{else}}
				  		{{format-time timestamp}}
						{{/if}}				
					</td>
		    </tr>       
		    {{/each}}
		  </tbody>
		</table>
	</div>